{% extends 'base.html' %}


{% block titulo %}
    {{accion}} Materia
{% endblock titulo %}

{% block contenido %}

    {% block drop %}
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'lista_materias' %}">Lista Materias</a></li>
            <li><a class="dropdown-item" href="{% url 'nueva_materia' %}">Nueva Materia</a></li>
        </ul>
    {% endblock drop %}
    
    <h1>{{accion}} Materia</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_table}}
        <button class="btn btn-success" type="submit">
            {% if accion == 'Nueva' %}
                Agregar
            {% else %}
                Guardar
            {% endif %}
        </button>
    </form>
{% endblock contenido %}