{% extends 'base.html' %}


{% block titulo %}
    Eliminar Materia
{% endblock titulo %}
    

{% block contenido %}

    {% block drop %}
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'lista_materias' %}">Lista Materias</a></li>
            <li><a class="dropdown-item" href="{% url 'nueva_materia' %}">Nueva Materia</a></li>
        </ul>
    {% endblock drop %}

    <form method="post">
        {% csrf_token %}
        <p>¿Estás seguro que quieres eliminar la materia {{object.nombre}}?</p>
        {{form}}
        <button class="btn btn-danger" type="submit">Eliminar</button>
        <a class="btn btn-warning"href="{% url 'lista_materias' %}">Cancelar</a>
    </form>
{% endblock contenido %}
    