{% extends 'base.html' %}

{% block titulo %}
    Editar Programa Académico
{% endblock titulo %}


{% block contenido %}

    {% block drop %}
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'lista_programas' %}">Lista Programas</a></li>
            <li><a class="dropdown-item" href="{% url 'nuevo_programa' %}">Nuevo Programa</a></li>
        </ul>
    {% endblock drop %}

    <h1>Actualizar Programa</h1>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Guardar</button>
    </form>
{% endblock contenido %}