{% extends 'base.html' %}

{% block titulo %}
    Lista de Horarios
{% endblock titulo %}
    

{% block contenido %}
    <h1>Lista de Horarios</h1>
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>{{form.clave}}</td>
            <td>{{form.materia}}</td>
            <td>{{form.docente}}</td>
            <td>{{form.semestre}}</td>
            <td>{{form.dia}}</td>
            <td>{{form.hora}}</td>
            <td>{{form.salon}}</td>
        </tr>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock contenido %}
