{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  Registrar cuenta inscripciones
{% endblock titulo %}

{% block contenido %}
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                  <img class="img-fluid" src="{% static 'img/logo/logo.png' %}" alt="logo">
                </div>
                <h4>Registro de usuario</h4>
                <h6 class="fw-light">Da de alta tu cuenta</h6>
                <form class="pt-3" method="post" >
                  {% csrf_token %}
                  {{form.as_p}}
                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Ingresar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
{% endblock contenido %}

